.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
background-color: black;
}

.content {
  border: 2px solid black;
  padding: 350px; 
background-color: rgb(2, 32, 151);
}

.what{
position: absolute;
width: 151px;
height: 75px;
left: 436px;
top: 10px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 75px;

letter-spacing: -0.04em;

color: #ffffff;
}
.txt{
  position: absolute;
  width: 517px;
  height: 92px;
  left: 599px;
  top: 55px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #81AFDD;
}
h1{
  color: #af890c;
  position: absolute;
  width: 443px;
  height: 92px;
  left: 430px;
  top: 209px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 30px;
}

.chat{
  position: absolute;
  width: 105px;
  height: 75px;
  left: 421px;
  top: 575px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color: #ffffff;
}


.Knowledgebase{
  position: absolute;
    width: 177px;
    height: 75px;
    left: 585px;
    top: 577px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}





.Education{
  position: absolute;
  width: 113px;
  height: 75px;
  left: 831px;
  top: 579px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}


.Education2{
  position: absolute;
  width: 334px;
  height: 92px;
  left: 776px;
  top: 644px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: rgb(255, 255, 255)
}
.Knowledgebase1{
  position: absolute;
    width: 334px;
    height: 92px;
    left: 531px;
    top: 644px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #81AFDD;
  }

  .chat3{
    position: absolute;
    width: 334px;
    height: 92px;
    left: 285px;
    top: 644px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #81AFDD;
    }

