.txt{
  position: absolute;
  width: 419px;
  height: 180px;
  left: 205px;
  top: 50px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.tt{
 
position: absolute;
width: 182px;
height: 48px;
left: 800px;
top: 50px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;

letter-spacing: -0.04em;

background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;


}

.x{
  position: absolute;
  width: 145px;
  height: 48px;
  left: 800px;
  top: 150px;
  
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
 
  letter-spacing: -0.04em;
  
  background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #000000;
  
  
}
.pol{
position: absolute;
width: 157px;
height: 48px;
left: 800px;
top: 250px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;

letter-spacing: -0.04em;
background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #000000;
}


.poi{
position: absolute;
width: 151px;
height: 48px;
left: 800px;
top: 350px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;

letter-spacing: -0.04em;
background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #000000;
}

.text{

position: absolute;
width: 334px;
height: 92px;
left: 1000px;
top: 40px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;


color: #81AFDD;
}

.text2{
position: absolute;
width: 334px;
height: 92px;
left: 1000px;
top: 140px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;


color: #81AFDD;
}

.text3{

position: absolute;
width: 334px;
height: 92px;
left: 1000px;
top: 240px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;


color: #81AFDD;
}
.text4{



position: absolute;
width: 334px;
height: 92px;
left: 1000px;
top: 340px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;


color: #81AFDD;

}


.oi{
position: absolute;
width: 271px;
height: 30px;
left: 810px;
top: 465px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;


color: #71E5FF;
}


.oitop{
position: absolute;
width: 426px;
height: 90px;
left: 810px;
top: 500px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 34px;
line-height: 45px;

background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.oitop2{
position: absolute;
width: 479px;
height: 120px;
left: 810px;
top: 615px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;


color: #81AFDD;
}

.oitop3{
position: absolute;
width: 271px;
height: 30px;
left: 810px;
top: 710px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;


color: #FF8A71;
}
